/*------------------------------------------------------------------
[ Basic CSS Startup ]
------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #777;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.clearFix {
    overflow: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/*------------------------------------------------------------------
[ Header ]
------------------------------------------------------------------*/
.headerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.headerText {
    margin: 50px;
    color: #fff;
    font-size: 45px;
    letter-spacing: 5px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
    animation: fadeIn 3s ease-out;
}

.btn:link,
.btn:visited {
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 35px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    color: #000;
    transition: all .2s ease-in;
}

.btn-white {
    color: #fff;
    border: 2px solid #fff;
    animation: fadeIn 3s ease-out;
}

.btn-white:hover {
    border: 2px solid #000;
    transition: all .2s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*------------------------------------------------------------------
[ SlideShow ]
------------------------------------------------------------------*/
.slideshow-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #000;
}

.slides {
    display: none;
}

.image1 {
    width: 100%;
    height: 95vh;
}

.top,
.middle,
.bottom {
    border: 2px solid #fefefe;
    display: inline-block;
    height: .8rem;
    width: .8rem;
    border-radius: 100%;
    cursor: pointer;
}

.active {
    background-color: #fefefe;
}

.top {
    position: absolute;
    top: 85%;
    right: 15%;
}

.middle {
    position: absolute;
    top: 88%;
    right: 15%;
}

.bottom {
    position: absolute;
    top: 91%;
    right: 15%;
}

@media screen and (max-width: 720px){
    .top,
    .middle,
    .bottom {
        height: .6rem;
        width: .6rem;
    }
}

@media screen and (max-width: 480px){
    .top,
    .middle,
    .bottom {
        height: .4rem;
        width: .4rem;
    }
}


/*------------------------------------------------------------------
[ Main Navigation ]
------------------------------------------------------------------*/

.navigation {
    background-color: #252f31;
    padding: 25px;
}

.mainNav {
    float: right;
    list-style: none;
    text-transform: uppercase;
}

.mainNav li {
    margin-left: 40px;
    display: inline-block;
}

.mainNav li a:link,
.mainNav li a:visited {
    color: #fff;
    text-decoration: none;
}

.mainNav li a:hover,
.mainNav li a:active {
    color: #2fca6f;
    cursor: pointer;
    transition: color .3s ease-in;
    text-decoration: none;
}
